*_ignore*
*_bak.???
**/*_bak
*_backup*
*_old.???
**/*_old
*_WIP.*
**/*_WIP
*_tmp.???
**/*_tmp
*_test.???
#**/*_test
* Copy.???
**/* Copy*
*Shortcut.???
*desktop.ini
EPKL_Layouts_Override.ini
EPKL_Settings_Override.ini
Layouts/**ImgGen_*
Layouts/**/*ImgGen_*
*PKL.exe
EPKL_*able*.zip
*Notepad*_Session*
**/_Inbox/*
